@model WebApp.Models.WebReference

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>WebReference</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="WebReferenceID" />
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EntryDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HatTipLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HatTipLink" class="form-control" />
                <span asp-validation-for="HatTipLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HatTipName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HatTipName" class="form-control" />
                <span asp-validation-for="HatTipName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HatTipSourceLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HatTipSourceLink" class="form-control" />
                <span asp-validation-for="HatTipSourceLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HatTipSourceName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HatTipSourceName" class="form-control" />
                <span asp-validation-for="HatTipSourceName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SourceLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SourceLink" class="form-control" />
                <span asp-validation-for="SourceLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SourceViaText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SourceViaText" class="form-control" />
                <span asp-validation-for="SourceViaText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        @for (int i = 0; i < Model.Pictures.Count(); i++)
        {
            <input type="hidden" asp-for="Pictures[i].WebReferenceImageID" />
            <input type="hidden" asp-for="Pictures[i].ImageURL" />
            <div class="form-group">
                <label asp-for="Pictures[i]" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <img src="@Model.Pictures[i].ImageURL" />
                    <input asp-for="Pictures[i].AltText" class="form-control" />
                    <span asp-validation-for="Pictures[i].AltText" class="text-danger"></span>
                    <input asp-for="Pictures[i].PhotoCreditName" class="form-control" />
                    <span asp-validation-for="Pictures[i].PhotoCreditName" class="text-danger"></span>
                    <input asp-for="Pictures[i].PhotoCreditURL" class="form-control" />
                    <span asp-validation-for="Pictures[i].PhotoCreditURL" class="text-danger"></span>
                </div>
                
            </div>
        }
        @for (int i = 0; i < Model.SimilarProducts.Count(); i++)
        {
            <input type="hidden" asp-for="SimilarProducts[i].WebReferenceSimilarProductID" />
            <div class="form-group">
                <label asp-for="SimilarProducts[i].ProductID" class="col-md-2 control-label">Similar ProductID @i</label>
                <div class="col-md-10">
                    <input asp-for="SimilarProducts[i].ProductID" class="form-control" />
                    <span asp-validation-for="SimilarProducts[i].ProductID" class="text-danger"></span>
                </div>
            </div>

        }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
